@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #006366;
  color: #fff;
}

.container {
  min-width: 390px;
  max-width: 100vw;
  margin: 0 auto;
  height: 100vh;
}
